<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Test</servlet-name>
  	<display-name>Test</display-name>
  	<description></description>
  	<servlet-class>servlet.Test</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>SignUp</servlet-name>
  	<display-name>SignUp</display-name>
  	<description></description>
  	<servlet-class>servlet.SignUp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignIn</servlet-name>
  	<display-name>SignIn</display-name>
  	<description></description>
  	<servlet-class>servlet.SignIn</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AppContext</servlet-name>
  	<display-name>AppContext</display-name>
  	<description></description>
  	<servlet-class>servlet.AppContext</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
  	<servlet-name>SendVercode</servlet-name>
  	<display-name>SendVercode</display-name>
  	<description></description>
  	<servlet-class>servlet.SendVercode</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SendMsg</servlet-name>
  	<display-name>SendMsg</display-name>
  	<description></description>
  	<servlet-class>servlet.SendMsg</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddPushToken</servlet-name>
  	<display-name>AddPushToken</display-name>
  	<description></description>
  	<servlet-class>servlet.AddPushToken</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SendPublicMsg</servlet-name>
  	<display-name>SendPublicMsg</display-name>
  	<description></description>
  	<servlet-class>servlet.SendPublicMsg</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>QueryMsg</servlet-name>
  	<display-name>QueryMsg</display-name>
  	<description></description>
  	<servlet-class>servlet.QueryMsg</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Update</servlet-name>
  	<display-name>Update</display-name>
  	<description></description>
  	<servlet-class>servlet.Update</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadIcon</servlet-name>
  	<display-name>UploadIcon</display-name>
  	<description></description>
  	<servlet-class>servlet.UploadIcon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>QuerySysPic</servlet-name>
  	<display-name>QuerySysPic</display-name>
  	<description></description>
  	<servlet-class>servlet.QuerySysPic</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdatePic</servlet-name>
  	<display-name>UpdatePic</display-name>
  	<description></description>
  	<servlet-class>servlet.UpdatePic</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadPic</servlet-name>
  	<display-name>UploadPic</display-name>
  	<description></description>
  	<servlet-class>servlet.UploadPic</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Test</servlet-name>
  	<url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignUp</servlet-name>
  	<url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignIn</servlet-name>
  	<url-pattern>/SignIn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AppContext</servlet-name>
  	<url-pattern>/AppContext</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SendVercode</servlet-name>
  	<url-pattern>/SendVercode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SendMsg</servlet-name>
  	<url-pattern>/SendMsg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddPushToken</servlet-name>
  	<url-pattern>/AddPushToken</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SendPublicMsg</servlet-name>
  	<url-pattern>/SendPublicMsg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>QueryMsg</servlet-name>
  	<url-pattern>/QueryMsg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Update</servlet-name>
  	<url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadIcon</servlet-name>
  	<url-pattern>/UploadIcon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>QuerySysPic</servlet-name>
  	<url-pattern>/QuerySysPic</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdatePic</servlet-name>
  	<url-pattern>/UpdatePic</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadPic</servlet-name>
  	<url-pattern>/UploadPic</url-pattern>
  </servlet-mapping>
  
</web-app>
